<h1><%= @name %></h1>
<h2><%= @motto %></h2>

<% @members.each do |member| %>
    <h2><%= member[:name] %></h2>
    <p>Hero Power: <%= member[:power] %></p>
    <p>Hero Biography: <%= member[:bio] %></p>
<% end %>

